@import url('vendor/normalize.css/normalize.css');

@page {
  size: a4;

  @bottom-center {
    content: counter(page);
  }
}

@page cover {
  @bottom-center {
    content: none;
  }
}

@page title {
  @bottom-center {
    content: none;
  }
}

#cover {
  page: cover;
}

#cover header {
  width: 100%;
}

#cover header > * {
  text-align: center;
}

#title {
  page: title;
}

#title footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 3em;
}

@media screen {
  body {
    background-color: whitesmoke;
  }

  .pagedjs_page {
    background-color: #fdfdfd;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    box-shadow: 0 0 0 1px var(--color-mbox);
  }
}
